$bg_main: #353839;
$bg_secondary: #1B1B1B;
$logo_color1: #666666;
$logo_color2: #B0B0B0;
$div_color: #F0F0F0;
$text_color: #1A1110;
$link_color: #414A4C;
$link_color_hover: #1A1110;
$border_radius: 10px;
