@import 'environment.scss';
@import 'panel.scss';

MAIN {
    text-align: center;
    &>DIV {
        $size: 200px;
        width: $size;
        height: $size;
        margin: {
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 5px;
        }
        display: inline-block;
        background-color: $bg_secondary;
        border-radius: $border-radius;
        text-align: center;
        .closebutton {
            position: absolute;
            background-color: $bg_main;
            margin-top: 10px;
            margin-left: -90px;
        }
        .thumbnail {
            position: absolute;
            width: 150px;
            height: 150px;
            margin: {
                top: 25px;
                left: 25px;
            }
            display: table;
            A {
                display: table-cell;
                vertical-align: middle;
                IMG {
                    margin: auto;
                }
                &:hover IMG {
                    outline: 3px solid $div_color;
                    outline-offset: -3px;
                }
            }
        }
    }
}

FOOTER {
    width: 100%;
    margin: {
        top: 20px;
        bottom: 20px;
    }
    text-align: center;
    color: $logo_color1;
    A {
        color: $logo_color1;
        &:hover {
            color: $logo_color2;
        }
    }
    #gallery_total, #gallery_displayed {
        color: $logo_color2;
    }
}
